# Server
PORT= <port>
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@smart-leads-cluster.xjdake6.mongodb.net/?appName=<app_name>

# JWT
JWT_SECRET=<super_secret_jwt_key>
JWT_EXPIRES_IN= <1d | 3d | 7d>

# CORS
CORS_ORIGIN=http://localhost:3000

# Bcrypt
BCRYPT_SALT_ROUNDS= <number>
